<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fig App</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
<!--    <script src="/js/index.js"></script>-->
</head>
<body>
<header>
    <h1>Fig Web App</h1>
</header>

<main>
    <div class="container">
        <img src="images/logo_fig_no_bg.png" alt="Fig Logo" class="logo"/>
        <button id="get-started-btn" class="get-started">Get started</button>
    </div>
    <div id="login-form" class="login-form">
        <button class="back-button" id="back-button">&larr; Back</button>
        <form action="/login" method="post">
            <label for="username">Username/E-mail</label>
            <input type="text" id="username" name="username">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <button id="btn-login" type="submit">Login</button>
            <div class="login-form-footer">
                <p>Forgot your password ? <a href="password-reset">Click here to reset your password.</a></p>
                <p>Don't have an account yet ? <a href="registration">Click here to register now</a></p>
            </div>
        </form>
        <p th:if="${param.error}" th:text="'Error: ' + ${param.error}"></p>
        <p th:if="${param.success}" th:text="${param.success}"></p>
    </div>
</main>

<footer>
    <p>&copy; 2024 Fig App. Tous droits réservés.</p>
</footer>

<script>
    const getStartedBtn = document.getElementById('get-started-btn');
    const loginForm = document.getElementById('login-form');
    const backButton = document.getElementById('back-button');

    loginForm.style.display = 'none';

    function showForm() {
        loginForm.style.display = 'flex';
        setTimeout(() => {
            loginForm.style.opacity = "1";
        }, 10);
    }

    function hideForm() {
        loginForm.style.opacity = "0";
        setTimeout(() => {
            loginForm.style.display = 'none';
        }, 750); // Duration matches the transition time
    }

    // Event listeners for button clicks
    getStartedBtn.addEventListener('click', showForm);
    backButton.addEventListener('click', hideForm);
</script>

</body>
</html>